<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.office.officegame" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20">
        </uses-sdk>

    <application


        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseGameMenu"
            android:label="ChooseGameMenu">

            </activity>

        <activity
            android:name=".Firstgame"
            android:label="Arcade">

        </activity>

        <activity
            android:name=".ThirdGame"
            android:label="Time Attack">
        </activity>

        <activity
            android:name=".SecondGame"
            android:label="Time Sprint">
        </activity>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </application>



</manifest>
